<h1>Listing produdcts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @produdcts.each do |produdct| %>
      <tr>
        <td><%= produdct.name %></td>
        <td><%= link_to 'Show', produdct %></td>
        <td><%= link_to 'Edit', edit_produdct_path(produdct) %></td>
        <td><%= link_to 'Destroy', produdct, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Produdct', new_produdct_path %>
