<h1><%= t('.title') %></h1>
<% if !cart.line_items.empty? %>
<table class="table table-bordered">
	<thead>
		<tr>
			<th><%= t('.product') %></td>
			<th><%= t('.price') %></td>
			<th><%= t('.quantity') %></td>
			<th><%= t('.cost') %></td>
			<th><%= t('.delete') %></td>
		</tr>
		<%= render(cart.line_items) %>
		<tr>
			<td colspan="1"><h4>Total</h4></td>
			<td colspan="4"><h4><%= number_to_currency(cart.total_price) %></h4></td>
		</tr>
	</thead>
</table>
<div>
	<div class="bottom-bt">
		<%= button_to t('.checkout'), new_order_path, method: :get, class:'btn btn-success' %>
		<%= button_to t('.empty'), cart, method: :delete, remote: true, class:'btn btn-danger' %>
	</div>
</div>
<% else %>
	<div class="alert alert-warning"><%= t('.cart_is').html_safe %>!</div>
<% end %>


